/*selector {
	Property: value;
}*/

* {
text-align: left;
}

li {
	list-style: none;
	display: inline-block;
}

body {
	margin: 0px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 4px solid pink;
	border-right: 4px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888
	margin-top: 10px;
	color: #ff6347
}


img {
	width: 350px;
	height: 400px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

.different-set {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.different-set img {
	width: 550px;
	height: 300px;
	margin: 10px;
	transition: all 2s;	
}

.different-set2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.different-set2 img {
	width: 450px;
	height: 400px;
	margin: 10px;
	transition: all 2s;	
}

.different-set3 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
}

.different-set3 img {
	width: 500px;
	height: 400px;
	margin: 10px;
	transition: all 2s;	
}

